html {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-image:url(https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b09f84e8e8fd58ee91faf817b9f903d7);
	background-size: cover;
	background-position: center;

}

.navbar-nav{
	border-bottom: 1px solid white;
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Copperplate Gothic Light', fantasy;
    font-weight: bold;
}

.navbar-brand:hover{
    color: #ecf0f1;
}


 .navbar-nav>li>a {
    color: #ffffff;
    background:none;
    font-weight: bold;
}

 .navbar-nav>li>a:hover{
 	background: #ecf0f1;
 	color: #000000;
}

.jumbotron{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #ffffff;
	padding-left: 40px;
	padding-right:30px;
	padding-top: 40px;
	background: rgba(0,0,0,0.85);
	margin: 70px;
	position:center;
	opacity: 0.90;
	//background: transparent;
}

.jumbotron p{
	 color: #ecf0f1;
	 font-weight: 200;

}

.jumbotron h1{
	margin-top: 0px;
}

label{
	width:55px;
	color: #ffffff;
    // text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    //              0px 8px 13px rgba(0,0,0,0.1),
    //              0px 18px 23px rgba(0,0,0,0.1);
}

input{
	min-width: 200px;
	width:100%;
}
